* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#logo{
    max-width: 100%;
    padding-right: 100px;
    height: 500px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background: #f3f3f3;
}
  
  /* Container */
  .container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .form {
    display: flex;
    flex-direction: column;
}
  
  .form-box h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  .form-box p {
    color: #666;
    font-size: 0.9em;
    margin-bottom:10px;
  }
  
  /* Form */
  form label {
    display: block;
    text-align: left;
    color: #333;
    font-size: 14px;
    /* margin-bottom: 5px; */
  }
  
  form input[type="email"] {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  