#head{
    background-color: #EFD9D1; 
    padding: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    max-width: 100%; 
      height: 300px;

}

#navbar {
    position: fixed;
    background-color: #333;
    padding: 10px;
    text-align: left;
    z-index: 1000; 
    width: 100%;
    
   
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#navbar ul li {
    position: relative;
    margin-right: 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 4px;
}

#navbar ul li a:hover {
    background-color: #575757;
    transition: background-color 0.3s ease;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#search input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search button:hover {
    background-color: #218838;
    transition: background-color 0.3s ease;
}




#carouselExampleControlsNoTouching{
    background-color:  #ffd7d6;
        width: 350px; 
    }
        

#about{
    font-size: medium;
    box-sizing: border-box solid 2px black;
    text-align: justify;
    padding-top: 10px;
}
#products{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#product{
    font-size: medium;
    /* background-color: #EFD9D1; */
    display: inline;
    float: left;
    margin-bottom: 20px;
    padding: 49.5px;
    
}
#carouselExampleFade{
    width: 400px;
    
    box-sizing: content-box;
    float: right;
    display: inline;
    background-color: #ffd7d6; 
    height: auto;
}
#carouselExampleCaptions{
    width: 500px;
}

/* card bg */
.card-img-top{
    background-color: #EFD9D1 ;
    /* height:300px; */
}

/* card name */
.card-title{
    font-size: 15px;
}

/* FOOTER */

#contact{
    background-color: #EFD9D1;
    padding-top: 10px;
    margin: 0%;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-between;
    text-align: center;
    color: #333;
  }

.browse{
    text-align: left;
    display: inline;
    float: left;
    padding-left: 20px;
}

.browse a{
    text-decoration: none;
}

.browse a:hover{
    text-decoration:underline;
    color: #333;
}
.personalization{
    text-align: center;
    display: inline;
    float: left;
    padding-left: 350px;
}
.personalization a{
    text-decoration: none;
}

.personalization a:hover{
    text-decoration:underline;
    color: #333;
}
.connect{
    text-align: center;
    float:left;
    /* display: block; */
    padding-left: 300px;
    align-items: center;
}
.connect a{
    text-decoration: none;
    text-align: center;
}

.footer-bottom{
    text-align: center;
}

#foot{
    background-color: #EFD9D1;
}

/* .connect{
    display: block;
    color: #666;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s ease;
    float: right;
  } */
  /* .connect:hover{
    color: #333;
  } */

/* card bg */
/* .card-img-top{
    background-color: #EFD9D1 ;
} */

/*
footer{
    background-color: #efd9d1;
    margin-top: 30px;
}
#us{
    text-align: left;
}
      address{
        text-align: left;
        margin-bottom: 0px;

      } 
      #founder{
        text-align: center;
         margin: 40px;
         padding: 20px;
      }
     */